<h1>Twittr</h1>
<p>Welcome {{username}}, email: {{email}}</p>
<p><a href="/logout">Logout</a></p>

<form class="messageBody" action="addPost" method="POST">
  <input name="body">
  <button type="button">Add post</button>
</form>
