<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Twittr</h1>
    <p>Welcome {{username}}, email: {{email}}</p>
    <p><a href="/logout">Logout</a></p>
    <form action="addPost" class="messageBody" method="post">
        <textarea class="wideInput"></textarea><br>
        <button type="button">Add post</button>
    </form>
    <div class="messages">
        <hr class="line">
        <p class="date">24.12.2016</p>
        <p class="wideInput">Veggies es bonus vobis, proinde vos postulo essum
        magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki
        bean garlic.</p>
        <hr class="line">
        <p class="date">24.12.2016</p>
        <p class="wideInput">Veggies es bonus vobis, proinde vos postulo essum
        magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki
        bean garlic.</p>
        <hr class="line">
        <p class="date">24.12.2016</p>
        <p class="wideInput">Veggies es bonus vobis, proinde vos postulo essum
        magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki
        bean garlic.</p>
        <hr class="line">
        <p class="date">24.12.2016</p>
        <p class="wideInput">Veggies es bonus vobis, proinde vos postulo essum
        magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki
        bean garlic.</p>
    </div>
</body>
</html>
