<h1>Twittr</h1>
<h4>Login</h4>
<p>{{ flash }}</p>
<form action="login" method="POST">
  <input name="username" placeholder="username">
  <input name="password" placeholder="password">
  <input type="submit" value="Log in">
</form>
<p>No account? Register <a href="/register">here</a>.</p>
